<div style="height: 50px; background-color:azure">
    <span style="margin-left: 50px;"><a href="/product">Product</a></span>
    <span style="margin-left: 50px;"><a href="/cart">Shopping Cart</a> </span>
</div>