.div-header{
    background-color: cyan;
    height: 50px;
}
.column1{
    height: 200px;
    background-color: darkgray;

}
.menu{
    background-color: darkgreen;
    color: white;
    height: 35px;
   
     
}
.bord{
    width: fit-content;

    border-right: 1px solid black;
}
.column2{
    height: 200px;
    background-color: lightslategray;
}
.column3{
    height: 200px;
    background-color: gainsboro;
}
.footer{
    height: 50px;
    background-color: darkgreen;
}
