/* .circle {
    height: 150px;
    width: 150px;
    background-color: red;
    border-radius: 50%;
    /* display: inline-block; */
  /* } */ */
.controlpanel{
    position: relative;
    margin-top: 25%;
}

input[type=button]{
    background-color: navy;
    color: white;
}
.circle-holder{
  padding: 1% 5%;
 
  }