<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <% d = new Date();
        e = d.getHours() >= 6 && d.getHours() < 18?"day.css":"night.css";
    %>
    <link href="css/<%= e%>" rel="stylesheet">
</head>
<body>
    <form action="/result" method = "POST">
        <span style="margin-right:10px;">
            <label >Name</label>
        </span>
        <span style="margin-right:10px;";>
            <input name="name" type="text">
        </span>
        <span style="margin-right:10px;";>
            <label>Age</label>
        </span>
        <span style="margin-right:10px;";>
            <input name="age" type="text">
        </span>
        <span style="margin-right:10px;">
            <input type="submit" name="Submit Query">
    </span>
</body>
</html>
